<p>components works!</p>

<!-- <button >Test</button>
<button test-selector>Test 2</button>
<button type="reset">reset</button>
<button class="this-one">Otro botón</button>
<div class="this-one">Ejemplo div</div>
<test-selector></test-selector>

<app-class-styling></app-class-styling> -->

<!-- <app-class-inputs [value]="666" [otherValue]="1000" [anotherValue]="1984" label="Esto es una prueba"
[price]="23" [finalValue]="37737" [(modelValue)]="credits"></app-class-inputs>

<p>Créditos (componente padre): {{ credits() }}</p>

<app-class-outputs (buttonClicked)="btnClickHandler()" (primitiveSend)="btnPrimitiveHandler($event)"
(objectSend)="btnObjectHandler($event)"></app-class-outputs> -->

<!-- <app-class-projection>
    <app-class-projection-title>My Custom Title</app-class-projection-title>
    <app-class-projection-body></app-class-projection-body>
    test
</app-class-projection>

<div class="app-class-host"></div>
<input class="app-class-host"> -->

@if(showLifeCycleComponent()){
    <app-class-lifecycle [userId]="myUserId()"></app-class-lifecycle>
    <button (click)="toggleShowLifeCycleComponent()">Hide component</button>
    <button (click)="changeUserId()">Change UserID</button>
}@else{
    <button (click)="toggleShowLifeCycleComponent()">Show component</button>
}

<app-class-referencing>
    <h1 #title>Contenido proyectado</h1>
    <p>Más contenido proyectado desde el padre</p>
</app-class-referencing>

<div class="app-class-host" #myComp></div>